#zhuye{
	width: 100%;
	height: 100%;
	/*background:#27bbe3;*/
	position: relative;
	overflow: hidden;
	background: url(../img2/body.png) 0px 80px; 
}
#box_header{
	width: 800px;
	height:1000px;
	/*background: blue;*/
	position: absolute;
	left: 450px;
	top: 150px; 
}
#logo{
	width:100%;
	height: 10%;
	background:white;
	position: absolute;
	border:1px solid white;
	position: absolute;
	 }
.lg{
	width: 250px;
	height:60px;
	background: red;
	position: absolute;
	left: 250px;
	border:1px solid white;
	top:-10px;
	background: url(../img2/logo.png)no-repeat;
}
input{
	position: absolute;
	left: 530px;
	top:10px;
	width: 250px;
	height: 50px;
	font-size: 18px;
	color: #878787;
	background: url(../img2/fdj.png)no-repeat 200px ;
	line-height: 30px; 
}
.tou{
	position: absolute;
	left: 900px;
	text-decoration: none;
	font-size: 18px;
	color:#878787;
	top:20px;
}
.sz{
	position: absolute;
	left: 1030px;
	top:10px;
	text-decoration: none;
	font-size: 18px;
	color:#878787;
	top:20px;
	

}
.hg{
	position: absolute;
	left: 1160px;
	top:10px;
	text-decoration: none;
	font-size: 18px;
	color:#878787;
	top:20px;

}
.to:hover{
	color:orange;
	cursor: pointer;
}
.bh:hover{
	color:orange;
	cursor: pointer;
	border-bottom: none;
}
#sa{
	width: 200px; 
	height: 50px;
	/*border:1px solid #878787;*/
}
#xiala{
	width: 100%;
	height: 70px;
	/*background: #dfdfdf;*/
	position: absolute;
	left: 0px;
	top:80px;
	text-decoration: none;
	line-height: 70px;
font-size: 20px;
}
p{
	float: left;
	margin: 20px;
	font-size: 23px;
	color: white;
	line-height: 35px;
}
/*#xiala{
	width: 60px;
	height: 30px;
	background: #878787;
}*/
#xiala:hover{
	color: white;
	opacity: 0.7;
	border-bottom: none;
}

#xl{
	text-decoration: none;
}
#xl:hover{
	border-bottom: 3px solid white;
}
* {
	margin: 0;padding: 0;
}
/*/////////////////////////////////////////////////////////*/
ul ol li {list-style: none;text-decoration: none;}
#center{
	width: 1020px;
	height:1400px;
	background:white;
	position: absolute;
	top:180px;
	left: 300px;
	position:relative;
	overflow: hidden;
}
h2{
	color: #878787;
	margin: 20px;

}
ol{
	list-style: none;
	width: 1000px;
	height: 50px;
	/*background: blue;*/
	position: absolute;
	top:50px;
}
li  a{
	text-decoration: none;
	float: left;
	line-height: 25px;
	font-size: 18px;
	margin: 10px;
	color: black;
}
#lang{
	float: right;
}
.lange:hover{
	background: #ff8406;
}
.age{
	width: 80px;
	height: 30px;
	background: #dfdfdf;
	line-height: 30px;
	text-align: center;
	color: #878787;
	opacity: 0.9;
}
.age:hover{
	background: #ff8406;
};


#tu{
	position: absolute;
	top:80px;
	

}
.wp{
	width: 1000px;
	height: 1000px;
	/*background: blue;*/
}
.poster{
	/*width: 180px;
	height: 250px;
	background: red;*/
}
img{
	width: 180px;
	height: 250px;
	margin: 10px;
	position: absolute;
	top:100px;
	float: left;

}

.name_link{
	position: absolute;
	top: 360px;
	text-align: center;
	left:60px;
	color: #007eae;
}
.name_link:hover{
	color: orange;
	border-bottom: 1px solid orange;
};

